.step(data-title='How it Works', data-file='app.rb')
  :markdown
    ## About this application

    This [Sinatra](//www.sinatrarb.com/) sample application is an
    example of typical login flow. To run this sample
    app yourself, [download the code and follow the instructions on
    GitHub](https://github.com/TwilioDevEd/authy2fa-sinatra).

    Adding two-factor authentication (2FA) to your web application increases the 
    security of your user's data. [Multi-factor authentication](http://en.wikipedia.org/wiki/Multi-factor_authentication) 
    determines the identity of a user by validating once by logging into the app, 
    and second by validating their mobile device.

    For the second factor, we will validate that the user has their mobile phone by either:
    * Sending them a OneTouch push notification to their mobile Authy app or
    * Sending them a token through their mobile Authy app or
    * Sending them a one-time token in a text message [sent with Authy via Twilio](http://www.authy.com/). Here's how this works at a high level:

    ![2FA High Level](//s3.amazonaws.com/howtodocs/2fa-high-level.png)

    Let's get started! Click the right arrow above to move to the next step
      of the tutorial.

    ---

    **See Also:**
    * [Getting Started with Sinatra](//www.sinatrarb.com/intro.html)
    * [Getting started with the Twilio Ruby gem](//twilio-ruby.readthedocs.org/en/latest/index.html#getting-started)
