%h1 Welcome Back
%p You never write. You never call. But we're glad you came, regardless! Be a pal and confirm your username and password, would you?

%p.text-danger#error-message

%form{ action: "/login", method: "post", id: "login-form" }
  .form-group
    %label{for: "email"} Email:
    %input{type: "text", name: "email", class: "form-control"}

  .form-group
    %label{for: "password"} Password:
    %input{type: "password", name: "password", class: "form-control"}

  %button.btn.btn-primary Log In

%form{ action: "/confirm-login", method: "post", id: "confirm-login" }

.modal.fade#authy-modal
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Please Authenticate
      .modal-body.auth-onetouch
        .help-block
          %i.fa.fa-spinner.fa-pulse
          Waiting for OneTouch Approval
      .modal-body.auth-token
        .help-block
          %i.fa.fa-spinner.fa-pulse
          Authy OneTouch is not available
        Please enter your Token
